body {
	background: maroon;
	margin-top: 0px;
	margin-bottom: 0px;
}

code {
	white-space: pre;
	background-color: #1D1F21;
	color: #C5C8C6;

	padding: 0 0.5em 0 0.5em;
}

.texto {
	padding: 1.1em;
	margin: 0 auto;
	width: 80%;
	min-height: 90vh;
	
	background-color: antiquewhite;
}

.texto p {
	text-align: justify;
}

img#aulaimg {
	float: left;
	width: 260px;
	height: 225px;
	margin: 0 1em 1em 0;
}

img.rimg {
	float: right;

	margin: 1em;
	border-style: solid;
}

img.limg {
	float: left;

	margin: 1em;
	border-style: solid;
}

span.nota {
	cursor: help;
	vertical-align: super;
	font-size: smaller;
	text-decoration: underline;
}

div.comp {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: stretch;
}

div.comp > pre {
	flex: auto;
	margin: 0;
}

pre.pseudo {
	/*color: #c5c8c6;
	background: #1d1f21;*/
	background: #c5c8c6;
	color: #1d1f21;

	padding: 0.5em;
	white-space: pre-wrap;
}


/*Para display box*/
.box {    
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: center;

	display: -moz-box;
	-moz-box-orient: horizontal;
	-moz-box-align: center;

	display: box;
	box-orient: horizontal;
	box-align: center;
}